<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
{{> header}}
<p>List of projects</p>
{{> footer}}
</body>
</html>